body {
  background-color: #edc9af59 !important;
  color: #2c3e50;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.operatorsWrapper {
  margin-top: 150px;
  font-size: 70px;
}

.operatorButton {
  width: 100%;
  margin-top: 10%;
  border-radius: 20px;
}

.plus {
  background-color: #42f4d9;
}

.minus {
  background-color: #dcb7ff;
}

.multiplication {
  background-color: yellow;
}

ul {
  list-style: none;
}

.image {
  height: 200px;
  margin-top: 11%;
}

.image img{
  height: 100%;
  width: 100%;
}

.characterList {
  font-size: 20px;
  margin-bottom: -20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.btn:hover :active :focus {
  -webkit-appearance: none;
  cursor: pointer;
  color: ivory;
  padding: 10px 20px;
  outline: 0;
  border: none;
  overflow: hidden;
}
#wrapper {
  width: 400px;
  text-align: center;
  margin: 50px auto;
  padding: 20px 10px;
  background-color: #dcb7ff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: $border-radius;
}
#q {
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: space-around;
  font-size: 70px;
  & > span {
    min-width: 78px;
  }
}
#equal {
  color: black;
  font-size: 70px;
  background: #dcb7ff;
}

.characterName {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-40%, -40%);
}

.characterContainer {
  position: relative;
}

 KEYFRAMES */
@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}
@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}
@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}
@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}
@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}
@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}
/* ANIMATIONS */
.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  
  left: -5%;
  top: 5%;
  
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
}
.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  
  left: 5%;
  top: 80%;
  
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}
.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  
  left: 10%;
  top: 40%;
  
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  transform: scale(0.7);
}
.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  
  left: 20%;
  top: 0;
  
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}
.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  
  left: 30%;
  top: 50%;
  
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}
.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  
  left: 50%;
  top: 0;
  
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
}
.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  
  left: 65%;
  top: 70%;
  
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}
.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  
  left: 80%;
  top: 10%;
  
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}
.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  
  left: 90%;
  top: 50%;
  
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
}
.x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  
  left: 80%;
  top: 80%;
  
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x1:focus, .x2:focus, .x3:focus, .x4:focus, .x5:focus, .x6:focus, .x7:focus, .x8:focus, .x9:focus, .x10:focus {
    outline-style: none;
}
/* OBJECTS */

.bubble {
  background-color: yellow;
  font-size:70px;
    -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-color: yellow;
  
    -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  
    height: 200px;
  position: absolute;
  width: 200px;
}

.chapter {
  margin: auto;
  margin-top: 30%;
  font-size: 1.4em;
  border: 2px solid #dcb7ff;
  box-shadow: 10px 10px 5px #dcb7ff;
  border-radius: 15px;
}

.chapter p{
  margin: 10%;
}

.storyTitle{
 text-align: center;
 margin-top: 10%;
 background: #dcb7ff;
 padding: 10px;
 padding-left: 15px;
 padding-right: 15px;
 border-radius: 15px;
}

.storyTitle h1 {
  font-size: 1em;
}

.next {
  border-radius: 15px;
  background-color: #dcb7ff;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 30px;
  margin-left: 63%;
}

.next span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.next span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.next:hover , .next:focus, span {
  padding-right: 25px;
  outline-style: none;
}

.next:hover span:after {
  opacity: 1;
  right: 0;
}


.shake{
  color: red;
}





    


