/**************************************/
/************* TYPOGRAPHI *************/
/**************************************/

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  color: #2c3e50;
  font-family: 'Mali', cursive !important;
  position: fixed;
  width: 100%;
  margin:0;
  padding: 0;
}

.container-fluid {
  padding: 0 !important;
}

main {
  height: 700px;
}

::placeholder{
  color: black;
}

input {
  background: yellow;
  border-color: transparent;
}

input[disabled]{
  opacity: 1;
  -webkit-text-fill-color: black;
}

button {
  border-color: transparent;
}

.gameChoiceTitle {
  margin-top: 5%;
  font-weight: bold;
  color: rgba(0,0,0,0.7) !important;

}

ul {
  list-style: none;
  text-align: center; 
}

.header {
  max-height: 130px;
}


/*****************************************/
/************* Animations ****************/
/******************************************/

.shake {
  background: red !important;
  outline: none;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*****************************************/
/************* Pop Ups ****************/
/******************************************/

/* The Modal (background) */
.popUpMessage, .quotes {
  position: fixed;
  text-align: center; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.6); 
  left:50%;
  transform: translate(-50%, 30%);
  border-radius: 20px;
}

.gameDescriptionPopUp {
  z-index: 2;
  background-image: url("./Images/bubbles.jpg"); 
  height: 750px;
  margin-top: -10%;
}

.wholeGameDescriptionPopUp {
  z-index: 2;
  background-image: url("./Images/bubbles.jpg"); 
  height: 800px;
  margin-top: -10%;
}

.gameDescriptionContent{
  background-color: #f19af3;
  min-height: 420px;
  height: 450px;
  margin: 0 auto;
  top: 18%;
}

#gameDescriptionContent img {
  width: 100%;
  height: 150px;
}

.aboutGameContent {
  text-align: center;
  margin-top: -7%;
  font-size: 1.8em;
  padding-left: 5%;
  padding-right: 5%;
}

.aboutGameContent h1{
  width: 60%;
  margin: 0 auto;
  margin-bottom: 7%;
  font-weight: bold;
  text-transform: uppercase;
}

.wholeGameDescriptionContent{
  background-color: #f19af3;
  min-height: 420px;
  height: 550px;
  margin: 0 auto;
  top: 22%;
}

.aboutWholeGameDescription{
  text-align: center;
  margin-top: -7%;
  font-size: 1.4em;
  padding-left: 5%;
  padding-right: 5%;
}

.aboutWholeGameDescription h1{
  font-size: 1.5em;
  padding-left: 9%;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 7%;
  font-weight: bold;
  text-transform: uppercase;
}

.closeGameDescription span{
    color: blue;
    font-size: 4em;
    padding-left: 65px;  
}


.quotes {
  margin-top: -16.2%;
}

.finalQuestion{
  margin-left: 80px;
  color: white;
}

.finalQuestion p {
   font-size: 1.4em;
   font-weight: bold;
}

.quotesContent{  
  width: 90%; 
  margin: 5% auto; 
  background-color: #faf78c;
  border-radius: 50px;
  padding: 6%;
  font-size: 1.3em;
}

.popUpMessage {
  position: fixed;
  text-align: center; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.6); 
  transform: translate(-50%, 30%);
  border-radius: 20px;
  padding: 50px;
  margin-top: -5%;
}

.popUpContent {
  margin: 0 auto; 
  text-align: center;
  color: white;
}

.popUpMessage img {
  width: 35%;
  height: 35%;
}

.throwDicePlayerAmount {
    background: yellow;
    margin-left: 25%;
    margin-top: -7%;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: -5%;
}

.throwDicePlayerAmount p {
    font-size: 1.3em;
}

.choosePlayerAmount {
  background: #1FFFCB;
  color: black;
  border: 1px solid black;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 70px;
   -webkit-box-shadow: -3px 5px 10px rgba(0,0,0,0.5);
  border-bottom: 1px solid black;
  text-shadow: -3px 2px 3px rgba(0,0,0,0.3);
  text-transform: uppercase;
  margin-right: 5px; 
  padding: 10px;
}

/*****************************************/
/**************** Scroll ****************/
/******************************************/
.ps__thumb-y {
  background-color: transparent !important;
}

.ps__rail-y, .ps__rail-y:hover {
  background-color: transparent !important;
}


/******************************************/
/************* Page Backgrounds *************/
/******************************************/
.startPageSleep {
  position: fixed;
  width: 100%;
  background-image: url("./Images/moonAndButterflies.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

.startPageAwake {
  position: fixed;
  width: 100%;
  transition: background-image 0.7s ease-in-out ;
  background-image: url("./Images/bubbles.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

.completedBookPage { 
  position: fixed;
  width: 100%;
  background-image: url("./Images/night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

#teacherGameBackground {
  position: fixed;
  width: 100%;
  background-image: url("./Images/bubbles.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 700px;
}

#diceGameBackground {
  position: fixed;
  width: 100%;
  background-image: url("./Images/bubbles.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 700px;
}

#jumpRopeGameBackground {
  position: fixed;
  width: 100%;
  background-image: url("./Images/bubbles.jpg");
  background-color: #063261;
  background-repeat: no-repeat;
  background-position: center center;
  height: 700px;
}

#bubbleGameBackground {
  position: fixed;
  width: 100%;
  background-image: url("./Images/bubbles.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 700px;
}

#chapterBackground {
  position: fixed;
  width: 100%;
  background-image: url("./Images/moonAndButterflies.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

#dragAndDropGameBackground {
  position: fixed;
  width: 100%;
  background-image: url("./Images/bubbles.jpg");
  margin-right: -2%;
  margin-left: -2%;
  background-color: pink;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 700px;
}

/**************************************/
/************* Buttons *************/
/**************************************/

.operatorButton {
  width: 100%;
  height: 80px;
  margin-bottom: 7%;
  outline-style: none;
  border: none;
 -webkit-box-shadow: -3px 5px 10px rgba(0,0,0,0.5);
  border-bottom: 1px solid rgba(0,0,0,0.5);
  border-radius: 5px;
}

.plus {
  background-color: #ff00ff;
}

.minus {
  background-color: #00ccff;
}

.multiplication {
  background-color: #ffff00;
}

.btn:hover :active :focus {
  -webkit-appearance: none;
  cursor: pointer;
  color: ivory;
  padding: 10px 20px;
  outline: 0;
  border: none;
  overflow: hidden;
}

.hintButton, .profileButton {
    background-color: #f19af3;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 2%;
    text-transform: uppercase;
    height: 5rem;
    font-size: 20px;
    font-weight: bold;
    -webkit-box-shadow: -3px 5px 10px rgba(0,0,0,0.7);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    text-shadow: -3px 2px 3px rgba(0,0,0,0.3);
}

.profileButton  {
  margin-top: 3%;
}

.quitGameButton {
    background-color: #f19af3;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: -15%;
    text-transform: uppercase;
    height: 3rem;
    font-size: 12px;
    font-weight: bold;
    -webkit-box-shadow: -3px 5px 10px rgba(0,0,0,0.7);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    text-shadow: -3px 2px 3px rgba(0,0,0,0.3);
    z-index: 1;
}

.hintBubble {
    position: relative;
    background: yellow;
    border-radius: 20px;
    height: 100px;
    z-index: 2;
    margin-top: 10.2%;
    margin-left: -43px;
}

.hintDescriptionContent {
  font-size: 1.2em;
  text-align: center;
  margin-top: -9% !important;
  width: 75%;
  margin-left: 15% !important;
}

.hintDescriptionImage {
  width:  80%;
  height: 100%;
}

.closeHint {
  font-size: 2.5em;
  color: black;
  margin-left: 95%;
  margin-top: -13%;
}

.hintBtnTitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 15px;
}


.next {
  border-radius: 70px;
  background-color: rgb(0, 123, 255);
  border: 2px solid rgb(255, 239, 140);
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 30px;
  margin: 0 auto;
  margin-top: 2%;
  margin-left: 60%;
}

.next span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.next span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.next:hover , .next:focus, span {
  padding-right: 25px;
  outline-style: none;
}

.next:hover span:after {
  opacity: 1;
  right: 0;
}


.popUpButton, .popUpButton2 {
  background: #007bff;
  color: white;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  height: 60px;
  margin-top: 10px;
  width: 70%;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid black;
}

.popUpButton2 {
   background: red;
}

.popUpButton:focus {
  outline-style: none;
}

.popUpquestion {
  font-size: 24px;
}

.quoteBtn1 {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 70%;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  background: #007bff;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  border: 1px solid black;
}

.quoteBtn {
  margin-bottom: 10%;
  width: 70%;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  background: red;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  border: 1px solid black;
}

#buttonIsClicked, .characterIsSelected{
  box-shadow: 1px 3px 15px 10px #1FFFCB !important;
}

#operatorSpin {
  transform: rotate(720deg);
  transition: transform 1s ease-in-out;
}

.characterIsSelected{
  padding-top: 15px;
  margin-bottom: 15px !important;
  transition: transform 1s;
}

.characterIsSelected:hover{
 transform: scale(1.1); 
}

.startGameButton {
  background-color: #1FFFCB;
  color: black;
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  margin-top: 9%;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 70px;
  width: 300px;
  height: 80px;
   -webkit-box-shadow: -3px 5px 10px rgba(0,0,0,0.5);
  border-bottom: 1px solid black;
  text-shadow: -3px 2px 3px rgba(0,0,0,0.3);
}

.startPageButton {
  background-color: #007bff;
  border: 2px solid rgb(255, 239, 140);
  text-align: center;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20%;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 15px;
  width: 250px;
}

.start {
  background-color: #67ebf7;
  color: black;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  margin-bottom: 20%;
  cursor: pointer;
  border-radius: 15px;
  height: 100px;
}


.profileBtnTitle {
  font-size: 0.78em;
  margin-top: 7px;
  text-transform: uppercase;
}


/**************************************/
/************* StartPage *************/
/**************************************/


.check {
  position: relative;
  background: #fef896;
  line-height: 0;
  perspective: 400px;
  height: 5rem;
   -webkit-box-shadow: -3px 5px 10px rgba(0,0,0,0.7);
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.check input[type="checkbox"],
.check label,
.check label::before,
.check label::after,
.check {
  appearance: none;
  display: inline-block;
  border-radius: 2.2rem;
  border: 0;
  transition: .40s ease-in-out;
  box-sizing: border-box;
  cursor: pointer;
}

.check label {
  width: 15rem;
  height: 5rem;
  background: linear-gradient(90deg, #f19af3, #f099b5);
  overflow: hidden;
  margin: 0;
}

.check input[type="checkbox"] {
  position: absolute;
  z-index: 1;
  width: 4.2rem;
  height: 4.2rem;
  top: .4rem;
  left:1.1rem;
  
  background: linear-gradient(45deg, #dedede, #ffffff);
  box-shadow: 0 6px 7px rgba(0,0,0,0.3);
  outline: none;
}

.check input[type="checkbox"]:checked {
  left: 12rem;
}

.check input[type="checkbox"]:checked + label {
  background: transparent;
}

.check label::before,
.check label::after {
  content: "· ·";
  position: absolute;
  overflow: hidden;
  
  top: 2.5rem;
  height: 1rem;
  letter-spacing: -.55rem;
  color: #9b9b9b;
  font-family: "Times New Roman", serif;
  z-index: 2;
  font-size: 5rem;
  border-radius: 0;
  transform-origin: 0 0 -.5rem;
  backface-visibility: hidden;
}

.check label::after {
  content: "●";
  top: 3.3rem;
  left: 2.3rem;
  height: 1.1rem;
  width: 1.95rem;
  font-size: 1.2rem;
  transform-origin: 0 0 -.4rem;
}

.check input[type="checkbox"]:checked + label::before,
.check input[type="checkbox"]:checked + label::after {
  left: 12.55rem;
  top: 1.4rem;
  line-height: 1.1rem;
  transform: rotateY(360deg);
}

.check input[type="checkbox"]:checked + label::after {
  height: 1.16rem;
  top: 2.60rem;
  left: 13.3rem;
  font-size: 3.65rem;
  line-height: 0;
}

.happy {
  margin: 0 auto;
  margin-top: 15%;
}

.happy h1 {
  text-align: center;
  color: white;
}

/********************************* ALL MATHGAMES **********************************/

/**************************************/
/************* BubbleGame *************/
/**************************************/

 #wrapper {
  color: #fffe01;
  border-radius: 35px;
  width: 570px;
  text-align: center;
  margin: 90px auto;
  padding: 20px 20px;
  background-color: rgba(0,0,0,0.6);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


 #wrapperCorrect {
  color: black;
  border-radius: 35px;
  width: 600px;
  text-align: center;
  margin: 90px auto;
  padding: 20px 30px;
  background-color: rgba(66,244,214,0.6);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); 
}

#equalCorrect, .operatorSignCorrect{
  color: black;
}

#q {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 100px;
  & > span {
    min-width: 78px;
  }
}
#equal {
  color: #f70cd6;
  font-size: 100px;
  background: transparent;
  font-weight: bold;
}

.bubbleGamesAnswer{ 
  color: #fffe01;
  transform: scale(1.3);
  transition: 0.2s;
 }

.operatorSign {
  font-size: 70px;
  color: #00ff0c;
}


KEYFRAMES */
@-webkit-keyframes animateBubble {
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: -100%;
    }
}
@-moz-keyframes animateBubble {
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: -100%;
    }
}
@keyframes animateBubble {
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: -100%;
    }
}
@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}
@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}
@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}
/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  
  left: -5%;
  top: 55%;
  
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
  
  left: 5%;
  top: 80%;
  
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
}

.x3 {
    -webkit-animation: animateBubble 23s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 23s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 23s linear infinite, sideWays 2s ease-in-out infinite alternate;
  
  left: 10%;
  top: 40%;
  
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 17s linear infinite, sideWays 3s ease-in-out infinite alternate;
  -moz-animation: animateBubble 17s linear infinite, sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 17s linear infinite, sideWays 3s ease-in-out infinite alternate;
  
  left: 20%;
  top: 80;
  
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  transform: scale(0.7);
}

.x5 {
    -webkit-animation: animateBubble 24s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 24s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 24s linear infinite, sideWays 4s ease-in-out infinite alternate;
  
  left: 30%;
  top: 50%;
  
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  transform: scale(0.7);
}

.x6 {
    -webkit-animation: animateBubble 16s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 16s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 16s linear infinite, sideWays 2s ease-in-out infinite alternate;
  
  left: 50%;
  top: 60%;
  
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
  
  left: 65%;
  top: 70%;
  
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
}

.x1:focus, .x2:focus, .x3:focus, .x4:focus, .x5:focus, .x6:focus, .x7:focus, .x8:focus, .x9:focus, .x10:focus {
    outline-style: none;
}
/* OBJECTS */

#bubble {
  color: yellow;
  padding: 10px;
  background-color: rgba(252, 74, 216, 0.85);
  font-size:70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-color: black;
  
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  
  height: 200px;
  position: absolute;
  width: 200px;
}
#bubbleCorrect {
  color: #42f4d9;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background-color: rgba(0,0,0,0.68);
  border: none;
  outline: none;
  border-radius: 50%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-transform: uppercase;
  position: absolute;
  height: 200px;
  width: 200px;
  z-index: 1;
}

#bubbleWrong {
  color: white;
  background-color: rgba(255, 0, 0, 0.76);
  font-size: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(0, 0, 0, 0.4);
  
  height: 200px;
  position: absolute;
  width: 200px;
}

#bubbleDisapear {
  color: transparent;
  background-color: transparent;
  font-size: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  
  height: 200px;
  position: absolute;
  width: 200px;
}






/********************************************/
/************* GameChoiceSection *************/
/*******************************************/

.operatorsWrapper {
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
  background: linear-gradient(white, #FFC3FD, #4f00ff);
  height: 600px;
}


/**************************************/
/************* TeacherGame *************/
/**************************************/

.svar {
  font-size: 1.4em;
}

.checkbox {
  position: relative;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.checkbox input[type="checkbox"] {
  visibility: hidden;
}

.checkbox label {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 10px;
  cursor: pointer;
} 

.checkbox label:before {
  content: '';
  width: 40px;
  height: 20px;
  border: 5px solid #fff;
  position: absolute;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  top: 25px;
  left: 18px;
  opacity: 0;
}

.checkbox input[type="checkbox"]:checked + label:before {
  opacity: 1; 
}

.checkbox input[type="checkbox"]:checked + label {
  background-color: #42f4d9;
  border-radius: 10px;
}

.teacherMathExpressionOne, .teacherMathExpressionTwo, .teacherMathExpressionThree, .teacherMathExpressionFour, .teacherMathExpressionFive{
  height: 70px;
  font-size: 2em;
  border: 1px solid grey;
  border-radius: 10px;
  text-align: center;
  word-spacing: 5px;
  padding-top: 5px;  
}

.teacherMathExpressionOne {
    background: #00FA9A; 
}

.teacherMathExpressionTwo {
    background: #bf80ff; 
}

.teacherMathExpressionThree {
    background: #ADFF2F; 
}

.teacherMathExpressionFour {
    background: #00BFFF; 
}

.teacherMathExpressionFive {
    background: #FFFF00; 
}

.teacherGameDiv {
  background: rgba(0,0,0,0.6);
  border-radius: 20px;
  padding: 40px;
  margin-top: 8%;
  margin-left: 13% !important;
}

.teacherBtn button {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(252, 74, 216, 1);  
  color: white;
  font-weight: bold;
  text-align: center;
  height: 70px;
  font-size: 1.3em;
  outline-style: none;
  margin-bottom: 10px;
}
.rightAnswerBtn {
    margin-left: 20px;
}

#rightAnswerStyleOne button, 
#rightAnswerStyleTwo button, 
#rightAnswerStyleThree button, 
#rightAnswerStyleFour button, 
#rightAnswerStyleFive button {
  background: #42f4d9;

}
 
/**************************************/
/************* JumpRopeGame *************/
/**************************************/

.jumpRope {
  position: relative;
  color: white;
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  padding: 40px;
  margin-bottom: -10px;
}

.jumpDiv {
  margin-top: 8%;
  background: rgba(33,37,41,0.68);
  border-radius: 20px;
  padding-bottom: 20px;
}

.inputone {
  border-radius: 15px;
  font-size: 1.5em;
  height: 60px;
  text-align: center;
  outline-style: none;
  margin-left: 55%;
  background: #ffff00;
}

.jumpRopeAnswerButton {
  border-radius: 15px;
  background: rgba(252, 74, 216, 1);
  font-size: 1.3em;
  text-align: center;
  outline-style: none;
  margin-left: 22%;
  height: 60px;
  color: white;
  font-weight: bold;
}

.jumpRopeWrongAnswer {
  background: red !important;
  outline: none;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  height: 60px;
  color: white;
  font-size: 1.5em;
  border: none;
}

.jumpRopeRightAnswer {
  background: #42f4d9;
  height: 60px;
}

.fullMathExpressionDiv {
   margin-top: -13% !important;
   z-index: 99 !important;
}

.fullMathExpression {
    text-align: center;
    font-size: 2.8em;
    background: #42f4d9;
    height: 80px;
    padding: 5px;
    border-radius: 20px;
    color: black;
    font-weight: bold; 
    margin-left: 20%;
    margin-bottom: -2px; 
}

.fullMathExpressionDiv button{
  margin-left: 81%;
  margin-bottom: 10px;
}



/**************************************/
/************* ThrowDiceGame *************/
/**************************************/

#dice {
  font-size: 8rem;
  padding: 0;
  color: white;  
  margin-bottom: -15%;
}

.diceGame {
  margin: 0 !important;
  text-align: center;
  height: 450px;
  margin-top: 7% !important;
  margin-left: 5% !important;
  margin-right: -3% !important;
 }

.diceGameResult {
  height: 70px;
  margin-left: 12% !important;
  margin-bottom: 2%;
 }

 .diceGameResult span {
  font-weight: bold;
  color: yellow;
  margin-left: 4% !important;
  margin-top: -2%;
  font-size: 2em;
 }

 .dice{
  text-align: center; 
  background-color: rgba(0,0,0,0.6);
  color: white !important;
  padding-top: 4%;
  border-radius: 20px 0 0 20px;
  padding-left: 50px !important;
 }

 .dice2 {
  text-align: center; 
  background-color: rgba(0,0,0,0.6);
  color: white !important;
  padding-top: 4%;
  border-radius: 0 20px 20px 0;
  padding-right: 50px !important;
 }

.title {
  padding: 0;
  text-align: center;
  margin-top: 1%;
  
}

.title h1{
  background: #fc4ad8;
  margin-bottom: -5%;
  padding: 10px;
  color: white;
  border-radius: 20px;
  margin-left: 30%;
  font-weight: bold;
  text-shadow: -3px 5px 3px rgba(0,0,0,0.3);
}

.inputDice {
  font-size: 1.8em;
  text-align: center;
  width: 24%;
}

.operatorStyle {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 3em;
  color: #00ff0c;
}

.operatorEquale{
  padding-left: 5px;
  padding-right: 5px;
  font-size: 3em;
  color: #f70cd6;
}

.diceBtn, .shakeDiceButton{
  padding-top: 10px;
  background: rgba(252, 74, 216, 1);  
  outline-style: none;
  color: white;
  height: 100px;
  width: 100px;
  font-size: 0.87em;
  border-radius: 20px;
  font-weight: bold;
  border: 1.5px solid black;
  line-height: 15px;
  margin-left: 100%;
}

.shakeDiceButton {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both !important;
}

.diceBtn i {
  margin-bottom: 5px;
  font-size: 2.3em;
}

.diceButtons {
  background: rgba(0,0,0,0.6);
}

.diceButtons h3 {
  color: white;
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 6%;
  margin-top: 32%;
  z-index: 2;
  height: 50px;
}

#diceShake {
  animation: spin 0.4s linear!important;
}

@-webkit-keyframes spin {
   100%{
    -webkit-transform: rotateZ(360deg);
  } 
}


.correct {
  background: yellow;
}

.inputDiceDisabled::placeholder {
  color: white !important;
}

.inputDice:disabled {
   background-color: rgba(252, 74, 216, 1);
}

#winnerAnimation {
  transform: scale(1.2);
  transition: all .2s ease-in-out;
  z-index: 99;
}

#winnerAnimationPlayer { 
  transform: scale(1.2);
  transition: all .2s ease-in-out;
  z-index: 99;
  color: yellow;
}

#winnerAnimationPlayerResult {
  color: yellow;
}

#scoreStylePlayerOne, #scoreStylePlayerTwo {
  font-size: 2.6em;
  margin-left: 5% !important;
  margin-top: -5%;
  z-index: 10;
}

#scoreStyleNone{
  font-size: 2em;
  margin-left: 4% !important;
  margin-top: -2%;
}

#shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

/*****************************************/
/************* DragAndDropGame *************/
/******************************************/

.items {
  background-color: rgba(33,37,41,0.68);
  color: white;
  text-align: center; 
  font-size: 2.5em;
  margin-top: 8%;
  padding: 40px;
  border-radius: 20px;
  margin-left: 13% !important;
}
.dragBtn {
  background-color: #42f4d9;
  color: white;
  font-weight: bold;
  width: 100%;
  padding: 0;
  border-radius: 5px;
}
.dropBox {
  color: transparent;
  width: 100%;
  margin-bottom: 13px;
  border-radius: 5px;
  margin-left: -15px; 
 
}   
.dragBtn {
  border: transparent;
}
#correctAnswerStyle{
  background: #42f4d9 !important;
  color: white;
  font-weight: bold;
  transition: all .2s ease-in-out;
}
#correctAnswerStyle:hover {
 transform: scale(1.1); 
}
#wrongAnswerStyle {
  background: red !important; 
  color: transparent;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}
#wrongAnswerStyle:before {
  content: "X" !important;
  padding-left: 20px;
  color: white;
  font-weight: bold;
}

.operatorEqualeDrop {
  color: #f70cd6;
  padding: 0;
}

.operatorStyleDrop {
  color: #00ff0c;
  padding: 0;
}



/*****************************************/
/************* Characters *************/
/******************************************/

.characterList {
  margin-bottom: 10%;
  margin: 0 auto;
  padding: 0 !important;
  -webkit-box-shadow: -3px 7px 10px rgba(0,0,0,0.6);
  border-bottom: 1px solid rgba(0,0,0,0.5);
}

.characterList img{
  height: 80%;
  width: 100%;
}

.characterNameBox {
  background: white;
  height: 120px;
}

.fa-book {
  color:rgba(252, 74, 216, 0.2);
}

.fa-bookCompleted {
  color:rgba(252, 74, 216, 1);
}

.characterNames {
  font-size: 20px;
  font-weight: bold;
  padding-top: 5%;
  text-align: center; 
  margin-bottom: 15px;
}

.characterName {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-40%, -40%);
}

.characterContainer {
  position: relative;
  padding-bottom: 5%;
  background: linear-gradient(white, #FFC3FD, #4f00ff);
  height: 600px;
  padding-top: 28px;
}

.gameChoiceTitle {
  background: linear-gradient(#FFC3FD, white);
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold; 
  color: black;
  padding-top: 60px;
  top: -53px;
  padding-left: 5% !important;
  font-size: 2.4em;
}

.scrollbar-container li {
  margin-top: 4%;
  width: 90%;
  padding-left: 22%;
}

.scrollbar-container {
   height: 480px !important;
}

.chapterScroll {
  height: 230px !important;
}

/*****************************************/
/************* Chapter Section *************/
/******************************************/

.chapterContainer {
  position: relative;
  padding-top: 4%;
  padding-bottom: 5%;
  height: 280px;
}

.chapter {
  background: rgba(0,0,0,0.6);
  color: white;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  margin-top: 5%;
  height: 500px;
}

.chapter p{
  margin: 4% 10%;
  font-size: 1.4em;
  text-align: left;
}

.storyTitle{
 text-align: center;
 margin-top: 10%;
 color: white !important;
 padding-left: 15px;
 padding-right: 15px;
 border-radius: 15px;
}

.storyTitle h1 {
  font-size: 1.2em;
  margin-bottom: 5%;
}

.storyTitle h2 {
  font-size: 1.8em;
}

.fa-chevron-down  {
  margin-top: 2%;
  color: white;
}


.FinishButtonCheck {
  position: relative;
  background: #fef896;
  line-height: 0;
  perspective: 400px;
  height: 5rem;
  margin-top: 10px;
  -webkit-box-shadow: -3px 5px 10px rgba(0,0,0,0.7);
  border-bottom: 1px solid rgba(0,0,0,0.5);
}

.FinishButtonCheck input[type="checkbox"],
.FinishButtonCheck label,
.FinishButtonCheck label::before,
.FinishButtonCheck label::after,
.FinishButtonCheck {
  appearance: none;
  display: inline-block;
  border-radius: 2.2rem;
  border: 0;
  transition: .40s ease-in-out;
  box-sizing: border-box;
  cursor: pointer;
}

.FinishButtonCheck label {
  width: 10rem;
  height: 5rem;
  background: #f19af3;
  overflow: hidden;
  margin: 0;
  border: 1px solid black;
}

.FinishButtonCheck input[type="checkbox"] {
  position: absolute;
  z-index: 1;
  width: 4.2rem;
  height: 4.2rem;
  top: .4rem;
  left: .4rem;
  background: linear-gradient(45deg, #dedede, #ffffff);
  box-shadow: 0 6px 7px rgba(0,0,0,0.3);
  outline: none;
}

.FinishButtonCheck input[type="checkbox"]:checked {
  left: 5rem;
}

.FinishButtonCheck input[type="checkbox"]:checked + label {
  background: transparent;
}

.FinishButtonCheck label::before,
.FinishButtonCheck label::after {
  content: "· ·";
  position: absolute;
  overflow: hidden;
  left: 0.4rem;
  top: 1.5rem;
  height: 1rem;
  letter-spacing: -.55rem;
  color: #9b9b9b;
  font-family: "Times New Roman", serif;
  z-index: 2;
  font-size: 5rem;
  border-radius: 0;
  transform-origin: 0 0 -0.5rem;
  backface-visibility: hidden;
  line-height: 0.6rem;

}

.FinishButtonCheck label::after {
  content: "●";
  top: 2.4rem;
  left: 1rem;
  height: 1.4rem;
  width: 1.95rem;
  font-size: 3.5rem;
  transform-origin: 0 0 -.4rem;
}


.FinishButtonCheck input[type="checkbox"]:checked + label::before,
.FinishButtonCheck input[type="checkbox"]:checked + label::after {
  left: 5.55rem;
  top: 1.6rem;
  line-height: 2.2rem;
  transform: rotateY(360deg);
}

.FinishButtonCheck input[type="checkbox"]:checked + label::after {
  height: 1.5rem;
  top: 3.2rem;
  left: 7.3rem;
  font-size: 1rem;
  line-height: 0rem;
}





